body {
  background-color: #f2f2f2;
  margin: 0 auto;
  font-family: var(--fonts_name), Arial, sans-serif;
  line-height: var(--font_size_plus8);
  letter-spacing: normal;
  opacity: 1 !important;
  visibility: visible !important;
}
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .custom-slider-show custom-slider-show  {
    height: 200px !important;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 8px;
    background-color: white;
  }
  .custom-slider-show .slick-dots {
    bottom: 5px !important;
  }
  .custom-slider-show .slick-next {
    right: 0px !important;
    width: 30px !important;
  }
  .custom-slider-show .slick-prev {
    left: 0px !important;
    z-index: 100;
    width: 30px !important;
  }
  .custom-slider-show .slick-prev:before,
  .custom-slider-show .slick-next:before {
    font-size: 30px !important;
    color: rgb(113, 170, 255) !important;
  }
  .custom-slider-show .slick-dots li button:before {
    font-size: 10px !important;
    color: #ffd429 !important;
  }
  .custom-font-size{
    font-size: 12px;
  }
  .customer-height-div{
    height: 80px;
  }
}

@media only screen and (min-width: 700px) {
  .custom-slider-show .slick-list {
    height: 400px !important;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 8px;
    background-color: white;
  }
  .custom-slider-show .slick-dots {
    bottom: 5px !important;
  }
  .custom-slider-show .slick-next {
    right: 0px !important;
    width: 50px !important;
  }
  .custom-slider-show .slick-prev {
    left: 0px !important;
    width: 50px !important;
    z-index: 100;
  }
  .custom-slider-show .slick-prev:before,
  .custom-slider-show .slick-next:before {
    font-size: 50px !important;
    color: rgb(113, 170, 255) !important;
  }
  .custom-slider-show .slick-dots li button:before {
    font-size: 15px !important;
    color: #ffd429 !important;
  }
  .customer-height-div{
    height: 200px;
  }
}

.fixed-menu-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ff175a;
  z-index: 1000;
}